<% include header %>

<div class="row row-centered">
  <div class="col-md-8 col-centered">
    <h3><%=preguntas[0].pregtexto%></h3>
    
    <h3>Pregunta de tipo :<%=tipo%> </h3>
    <br>

    <% if(preguntas[0].imagen != null){ %>

        <img align="center" id="logo" src="/public/preguntas/imagenes/<%=imagen%>" alt="logo" />

    <%}%>
    
    <% if(preguntas[0].video != null){ %>

        <video width="400" controls>
        <source src="/public/preguntas/videos/<%=video%>" type="video/mp4">
        </video>
    

    <%}%>
    

     <br>
    <h3><%=preguntas[0].nombre%></h3>

<br>

    <% if(preguntas[0].tipo=='1'){ %>

          <%for(i in preguntas){%>

            <label><%=letras[i]%></label>
             <%=preguntas[i].respuesta%>
              <br>       
          <%}%>

    <%}else if(preguntas[0].tipo=='2'){%>

        <label>a) Sì</label>
        <br>
        <label>b) No</label>

    <%}else{%>
      <label>a) Totalmente en desacuerdo</label>
        <br>
        <label>b) En desacuerdo</label>
        <br>
        <label>c) Ni de acuerdo ni en desacuerdo</label>
        <br>
        <label>d) De acuerdo</label>
        <br>
        <label>e) Totalmente de acuerdo</label>
        <br>
        
    <%}%>   

    <h3> Correcta: <%=correcta%></h3>
    <br>

    <br>
    <div align= "center">
      <a  href='/docente/realizar/<%=preguntas[0].pmid%>/<%=idclase%>/<%=idasig%>/<%=idpara%>/<%=preguntas[0].nombre%>' type="button" class="btn btn-primary" >Enviar pregunta</a>
      <br>
      <br>
      <br>
      <button onclick="goBack()">Volver</button>
    </div>  
  </div>
  
</div>

<script>
function goBack() {
    window.history.back();
}
</script>

<% include footer %>